@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,600");

html,
body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: "Poppins", sans-serif;
    font-size: 62, 5%;
}
